<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         bootstrap="vendor/autoload.php"
         displayDetailsOnTestsThatTriggerWarnings="true"
         colors="true" 
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" 
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="phpReport Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="display_errors" value="On"/>
    <ini name="display_startup_errors" value="On"/>
  </php>
</phpunit>
